asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.3
django-autoslug==1.9.9
django-debug-toolbar==4.3.0
django-material-admin==1.8.6
django-tinymce==4.0.0
idna==3.6
pillow==10.3.0
python-dotenv==1.0.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
wikipedia==1.4.0
